*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
body{
  font-family: "Metropolis-Bold", Helvetica;
    font-size: 16px;
}


/* top ad */
.top-para{
    display: inline;
}
.top-span{
    float: right;
}
.ad_first{
  background: linear-gradient(to right,#ED1C24, #0A2569);
}

/* navbar */

.nav {
 
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 5%;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
.nav a {
  color: rgb(5, 5, 5);
  text-decoration: none;
}
.nav .header_logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .nav_end{
    width:200px;
    display: flex;
    justify-content: space-evenly;
}


.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }
    .nav .search-box {
      right: 150px;
    }
  

  }
  @media screen and (max-width: 975px) {
    .nav {
      padding: 15px 30px;
    }
    .nav .search-box {
      right: 100px;
      max-width: 400px;
    }
    .nav .nav_end{
        width:100px;
        display: flex;
        justify-content: space-evenly;
    }
  }
  /* jabbar */
  /* usman */
  @media screen and (max-width: 768px) {
    .nav .nav_end{
        width:70px;  
        display: flex;
        justify-content: space-evenly;
    }
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #f4f4f4;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: rgb(2, 1, 1);
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
  

  }
/* main image */
.main_image img{
    max-width: 100%;
    margin-bottom: 8px;
}

.second_start{
    height:25px;
    background: linear-gradient(to right,#ED1C24, #0A2569);
}

/* page 2 starts */

.second_main{
  display: flex;
  padding:10% 8%;
}
.second_main .first_section{
  display: inline-block;
  width:50%
}
.first_section h1,h6{
  font-family: "Metropolis-Bold", Helvetica;
  font-weight: bold;

}

.first_section .second_para{
  width:400px;
}

.first_section .second_underline{
  height:8px;
  width:92px;
  background: linear-gradient(to right,#ED1C24, #0A2569);
  margin-bottom: 20px;
  border-radius: 20px;
}
.first_section .second_colors{
  display :flex;
  align-items: center;
  padding:8px 0; 
}
.first_section .color{
  width:25px;
  height: 25px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.first_section .color[color="black"]{
  background-color: #2D3238;
  border-color: #2D3238;
}
.first_section .color[color="white"]{
  background-color:  #D6D5D0;
  
  border-color: #D6D5D0;
}
.first_section .color[color="pink"]{
  background-color:  #AA5E70;
;
  border-color:  #AA5E70;
  ;
}
.first_section .color[color="orange"]{
  background-color: #E55F05;
  ;
  border-color: #E55F05;
}
.first_section .second_productHighlights{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width:320px;

}
.first_section .second_button{
  background-color: #ed1c24;
  border-radius: 80px;
  height: 59px;
  width: 225px;
  color:white;
  font-size: larger;
  font-family: "Metropolis-Bold", Helvetica;
}
.first_section .second_button:hover{
  background-color: #7f080c;
}
.first_section .section_last{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* second section  */

.showcase_image{
  display:flex

}

.second_section{
  display: inline-block;
  width:50%;
}
@media screen and (max-width: 1000px) {
 
  .second_main{
    flex-direction: column-reverse;
  }
  
}

